<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">

	<form action="/contact/new">
		<label>Name</label>
		<br>
		<input type="text">
		<br>	

		<label>Email</label>
		<br>
		<input type="text">
		<br>

		<label>Message</label>
		<br>
		<textarea></textarea>
		<br>
		<br>
		<input type="submit" value="Send Message" class="button">
	</form>
</div>