<h1><%= @article.title %></h1>
<p><%= @article.content %></p>

<div class="btn-group">
<a href="/articles" class="btn btn-default">Back</a>
<% if user_signed_in? %> 
<a href="/articles/<%= @article.id %>/edit" class="btn btn-default">Edit</a>
<a href="/articles/<%= @article.id %>" class="btn btn-default" form method="delete" data-confirm="Are you sure you want to delete this?">Delete</a>
<% end %> 
</div>