 <div id="emoji_area">


    <p>You feel.....  <img src='<%= @emoji [@mood] %>' alt='I am sorry. I could not recognize your mood. Please try again.'/>   today <p> 


<br> 
<a href='/'> Enter another mood </a>  

 </div> 