
    <h1>New Product</h1>
    <form action="/products" method="post">
     <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <p>
        <label for="category">Category</label>
        <select name="category" id="category">

          <% @categories.each do |u| %>
  <option value=<%= u.id %> ><%= u.name %> </option>
        <% end %> 
  
      </select>
      </p>


      <p>
        <label for="name">Name</label>
        <input type="text" id="Name" name="products[name]" >
      </p>

       <p>
        <label for="pricing">Pricing</label>
        <input type="text" id="Pricing" name="products[pricing]" >
      </p>

      <p>
        <label for="description">Description</label>
        <input type="text" id="Description" name="products[description]" >
      </p>


      <input type="submit" value= 'Create'>
    </form>