<h1> Realtime Voting Result </h1> 
<br> 
<br> 



What is your favourite language? 
<br> 
<br> 

<form action="/votes" method="post">
PHP
<input type='hidden' name='language' >
<input type="submit" value='Vote'>
</form> 
<br> 
<br> 

<form action="/votes" method="post">
Ruby
<input type='hidden' name='language' >
<input type="submit" value='Vote'>
</form> 
<br> 
<br> 

<form action="/votes" method="post">
Javascript 
<input type='hidden' name='language' >
<input type="submit" value='Vote'>
</form> 
<br> 
<br> 