<h1> Realtime Voting Result </h1> 
<br> 
<br> 



What is your favourite language? 
<br> 
<br> 

<form action="/votings" method="post">
PHP
<input type='hidden' name='language' value="PHP">
<input type="submit" value='Vote'>
</form> 
<br> 
<br> 

<form action="/votings" method="post">
Ruby
<input type='hidden' name='language' value="Ruby">
<input type="submit" value='Vote'>
</form> 
<br> 
<br> 

<form action="/votings" method="post">
Javascript 
<input type='hidden' name='language' value="Javascript">
<input type="submit" value='Vote'>
</form> 
<br> 
<br> 